
@{
    ViewData["Title"] = "AllSnack";
}

<h1>AllSnack</h1>

<section id="contact" class="pt-4 pb-4 bg_grey">
	<div class="container-xl">
		
		<div class="row contact_2 mt-4">
			<div class="col-md-9">
				<div class="contact_2l row">
					<div class="col-md-12">
						
                        <div style="display: flex; justify-content: center; align-items: center;">
                            <a asp-action="Snacks" style="text-decoration: none; margin-right: 10px;">
                                <div style="text-align: center;">
                                    <h1 style="margin-bottom: 10px;">Snacks</h1>
                                    <img src="~/img/snacks.jpg" alt="Image Description" style="height: 150px; width: 200px;">
                                </div>
                            </a>

                            <a asp-action="SnacksB" style="text-decoration: none; margin-right: 10px;">
                                <div style="text-align: center;">
                                    <h1 style="margin-bottom: 10px;">Drinks</h1>
                                    <img src="~/img/drinks.jpg" alt="Image Description" style="height: 150px; width: 200px;">
                                </div>
                            </a>

                           
                        </div>






					</div>

					
				</div>
			</div>

		</div>

</section>